You have to install the requirements.txt folder with the command

pip install -r requirements.txt

in the selected area of where the requirements.txt has been installed

then the python script shsould be able to run
